<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <!--<url-pattern>/order</url-pattern>-->
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
        <!--<url-pattern></url-pattern>-->
    </servlet-mapping>


    <servlet>
        <servlet-name>Logist</servlet-name>
        <servlet-class>Servlets.LogistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logist</servlet-name>
        <url-pattern>/logist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Driver</servlet-name>
        <servlet-class>Servlets.DriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Driver</servlet-name>
        <url-pattern>/driver</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderConfirm</servlet-name>
        <servlet-class>Servlets.OrderConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderConfirm</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>Servlets.SaveDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>SetCharacterEncoding</filter-name>
        <filter-class>
            Filters.SetCharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>